xdg_config/nvim/.netrwhist
xdg_config/nvim/autoload
xdg_config/nvim/session

xdg_config/abrt
xdg_config/Android Open Source Project
xdg_config/BraveSoftware
xdg_config/coc
xdg_config/configstore
xdg_config/dconf
xdg_config/dleyna-renderer-service.conf
xdg_config/dleyna-server-service.conf
xdg_config/enchant
xdg_config/eog
xdg_config/evolution
xdg_config/flutter
xdg_config/gedit
xdg_config/gnome-boxes
xdg_config/gnome-initial-setup-done
xdg_config/gnome-session
xdg_config/goa-1.0
xdg_config/gthumb
xdg_config/gtk-3.0
xdg_config/ibus
xdg_config/jxbrowser
xdg_config/libreoffice
xdg_config/libvirt
xdg_config/mimeapps.list
xdg_config/monitors.xml
xdg_config/nautilus
xdg_config/pipewire
xdg_config/pulse
xdg_config/systemd
xdg_config/totem
xdg_config/tool_state
xdg_config/user-dirs.dirs
xdg_config/user-dirs.locale
xdg_config/yelp
xdg_config/xfce4
xdg_config/Thunar
xdg_config/Mousepad
xdg_config/imsettings
xdg_config/azote
xdg_config/zoomus.conf

xdg_config/pavucontrol.ini

systemd/env/restic_creds.env
systemd/env/restic_creds_local.env

